* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bg {
  background-image: url("./mykyta-martynenko-k7lWhRlO53U-unsplash.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 30px);
  height: calc(100vh + 30px);
  z-index: -1;
  filter: blur(30px);
}

.loading-text {
  color: white;
  font-size: 80px;
}
