:root {
  --icon-width: 70px;
  --searchBar-width: 200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-family: "Neucha", cursive;
  color: white;
  margin-bottom: 50px;
}

.container {
  display: flex;
  align-items: center;
  width: var(--icon-width);
  transition: all 0.4s ease-in-out;
}

.container.onClick {
  width: calc(var(--icon-width) + var(--searchBar-width));
}

.icon {
  min-width: var(--icon-width);
  height: 50px;
  background-color: white;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.4s;
}

.icon:active {
  transform: scale(0.98);
}

.box {
  width: var(--searchBar-width);
  overflow: hidden;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.search {
  height: 50px;
  width: var(--searchBar-width);
  padding: 20px;
  border: none;
}
